/*@font-face {
  font-family: Roboto;
  src: url(./1.ttf); }*/
/*body {
  font-family: 'Roboto', sans-serif; }*/

.input {
	border:1px solid #ccc;
	border-radius: 4px;
	padding: 6px 12px;
}

#float {
	width: 100px;
}

#speedButton {
	width: 100px;
}
